<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink="/"
    ><img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  /></a>
  <span>MovieFetcher</span>
  <div class="small-spacer"></div>
  <a [routerLink]="['list']">Go to movie list</a>
  <div class="spacer"></div>
  <span>current version: {{ versionNumber }}</span>
  <a
    aria-label="View repository for this app"
    target="_blank"
    rel="noopener"
    href="https://github.com/carlosabud"
    title="github"
  >
    <img src="assets/images/GitHub-Mark-Light-32px.png" />
  </a>
</div>

<div class="content container-fluid" role="main">
  <!-- <form [formGroup]="searchMovieForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Type a movie name"
        type="text"
        formControlName="title"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <input matInput placeholder="Year" type="number" formControlName="year" />
    </mat-form-field>
  </form>

  <ul *ngFor="let movie of movieSearchResults$ | async">
    <li><strong>Movie title:</strong> {{ movie.original_title | json }}</li>
     <strong>Title:</strong> {{ movie.Title }} <br />
    <strong>Actors:</strong> {{ movie.Actors }} <br />
    <strong>Plot:</strong> {{ movie.Plot }}
    <img [src]="movie.Poster" /> 
  </ul> -->
</div>
<router-outlet></router-outlet>
